<!-- <div class="line" [chart]="lineChart"></div> -->
<div>
    <button (click)="generate_PDF()">Generate Stock Portfolio PDF</button>
  </div>
<div *ngFor="let stock of dbstocks">
    <p>{{stock.stockName}}</p>
    <p>{{stock.stockPrice}}</p>
    <p>{{stock.CurrPrice}}</p>
    <p>{{(stock.CurrPrice-stock.stockPrice)/100}}</p>
</div>

<div>
  <div style="height: 350px;">
    <canvas></canvas>
  </div>
</div>
<br>
<br>

<!-- <app-pie-chart-pdf ></app-pie-chart-pdf> -->
<button (click)="generatePDF()">Generate PDF with Pie Chart</button>
<router-outlet></router-outlet>